<div class="upload-asset-box-crop">
  <%= form_for @asset, :as => :asset, :url => imagebinder_path(@asset), :html => {:class => :imagebinder_crop}, :remote => true do |f| %>
    <% if @asset.image_geometry(:original).width > @asset.image_geometry(:original).height %>
      <% img_preview_width = 500 %>
      <% img_preview_height = (img_preview_width * @asset.image_geometry(:preview).height / @asset.image_geometry(:preview).width).to_i %>
    <% else %>
      <% img_preview_height = 500 %>
      <% img_preview_width = (img_preview_height * @asset.image_geometry(:preview).width / @asset.image_geometry(:preview).height).to_i %>
    <% end %>
    <% if @asset.image_geometry(:original).width == @asset.image_geometry(:preview).width %>
      <% @orig_img_ratio = 1 / (img_preview_width / @asset.image_geometry(:preview).width)  %>
    <% else %>
      <% @orig_img_ratio = @asset.image_geometry(:original).width / @asset.image_geometry(:preview).width %>
    <% end %>
    <div class="cropbox" style="width:<%= img_preview_width+2 %>px ;height:<%= img_preview_height+2 %>px">
      <%= image_tag @asset.image.url(:preview), :class => :cropimage, :style => "width:#{img_preview_width}px ;height:#{img_preview_height}px" %>
    </div>
    <%= f.hidden_field :assetable_type %>
    <%= f.hidden_field :association_type %>
    <%= f.hidden_field :asset_field %>
    <% [:crop_x, :crop_y, :crop_w, :crop_h].each do |a| %>
      <%= f.hidden_field a, :id => a %>
    <% end %>
    <div class="controls">
      <div class="done">
        <%= link_to 'Done', '#', onclick: "$(this).closest('form').submit(); return false;" %>
      </div>
      <div class="cancel">
        <%= link_to 'Cancel', '#', onclick: '$.fancybox.close(); return false;' %>
      </div>
    </div>
  <% end %>
</div>

<script>

  preview_ratio = <%= @ratio.nil? ? 1 : @ratio %>;
  original_image_ratio = <%= @orig_img_ratio %>;
  $(function() {
    $('.imagebinder_crop, .asset_edit')
            .bind('ajax:beforeSend', function(xhr, settings) {})
            .bind('ajax:success',    function(data, status, xhr) {
              // console.log('success', status);
              // console.log('-', status.target+'_attributes_id', status.id);
              $('#'+status.target+'_attributes_id').val(status.id);
              $('.'+status.target+'_image').html('<img src="'+status.image+'"/>');
              $('.asset.'+status.target+' .remove').show();
              $.fancybox.close();
            })
            .bind('ajax:complete', function(xhr, status) {
              // console.log('complete', status)
            })
            .bind('ajax:error', function(xhr, status, error) {
              // console.log('error', status, error)
            })
  });


</script>
